body {
    min-height: 100vh;
}

.card {
    height: 200px;
    width: 120px;
}

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}